<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css>
<title>Download your CSV</title>
<form accept-charset="UTF-8" action="/downloadFile" method="POST"  target="_blank">
<div id="buttons">
  <button type="submit" class="btn btn-primary">Download CSV</button>
</div>
</form>

<p>Please drop an email at <a href="mailto:rishankjhavar@outlook.com" target="_blank" class="link">rishankjhavar@outlook.com</a> if you face an issue with the app.</p>

<style>

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

p {
  text-align: center;
  color: #000000;
  padding-top: 20px;
}

</style>